<div class="container">
  <div class="row">
    <%# Contents column start %>
    <div class="col-sm-9 contents-left">
    <% @articles.each do |article| %>
      <div class="article-box">
        <div class="article-header">
          <div class="cal">
            <p class="day"><%= show_day article.updated_at %></p>
            <p class="mon-year"><%= show_month article.updated_at %>&nbsp;<%= show_year article.updated_at %></p>
          </div>
          <h2><%= link_to article.title, public_article_path(article.id) %></h2>
          <!--<h2><%= article.title %></h2>-->
        </div>
        <div class="artile-snippet">
          <%= article.overview.html_safe %>
        </div>
        <div class="article-info"><p>Author&nbsp;:&nbsp;eighty8&nbsp;&nbsp;&nbsp;&nbsp;Date&nbsp;:&nbsp;<%= show_date article.updated_at %></p></div>
      </div>
    <% end %>





      <div class="article-box">
        <div class="article-header">
          <div class="cal">
            <p class="day">16</p>
            <p class="mon-year">Dec 2017</p>
          </div>

          <h2>This is article This is article</h2>
        </div>
        <div class="artile-snippet">
<pre><code class="ruby"># The Greeter class
class Greeter
  def initialize(name)
    @name = name.capitalize
  end

  def salute
    puts "Hello #{@name}!"
  end
end
g = Greeter.new("world")
g.salute</code></pre>
        </div>
        <div class="article-info"><p>Author&nbsp;:&nbsp;eighty8&nbsp;&nbsp;&nbsp;&nbsp;Date&nbsp;:&nbsp;2017/01/19 10:17:43</p></div>
      </div>

      <div class="article-box">
        <div class="article-header">
          <div class="cal">
            <p class="day">09</p>
            <p class="mon-year">Oct 2017</p>
          </div>

          <h2>This is article This is article</h2>
        </div>
        <div class="artile-snippet">
          <p>これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。</p>
          <p>これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。</p>
<pre><code class="ruby">aaaaa</code></pre>
        </div>
        <div class="article-info"><p>Author&nbsp;:&nbsp;eighty8&nbsp;&nbsp;&nbsp;&nbsp;Date&nbsp;:&nbsp;2017/01/19 10:17:43</p></div>
      </div>

      <div class="article-box">
        <div class="article-header">
          <div class="cal">
            <p class="day">22</p>
            <p class="mon-year">Jun 2017</p>
          </div>

          <h2>This is article This is article</h2>
        </div>
        <div class="artile-snippet">
          <p>これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。</p>
          <p>これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。これはテストです。</p>
        </div>
        <div class="article-info"><p>Author&nbsp;:&nbsp;eighty8&nbsp;&nbsp;&nbsp;&nbsp;Date&nbsp;:&nbsp;2017/01/19 10:17:43</p></div>
      </div>
    </div>
    <%# Contents column end %>

    <%= render :partial => "public/layouts/side_menu", locals: {list_categories: @categories} %>
  </div>
</div>
